[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "REPLACE_ME"

[auth.entra]
client_id = "REPLACE_ME"
client_secret = "REPLACE_ME"
server_metadata_url = "https://REPLACE_SUBDOMAIN.ciamlogin.com/REPLACE_TENANT_ID/v2.0/.well-known/openid-configuration"
client_kwargs = { scope = "openid profile email" }
